:root {
    --fonte-principal: 'Kumbh Sans', sans-serif;
    --laranja-principal: hsl(26, 100%, 55%);
    --laranja-secundario: hsl(25, 100%, 94%);
    --azul-muito-escuro: hsl(220, 13%, 13%);
    --azul-acinzentado-escuro: hsl(219, 9%, 45%);
    --azul-acinzentado:hsl(220, 14%, 75%);
    --azul-acinzentado-claro:#ebedf7;
    --branco: hsl(0, 0%, 100%);
    --preto:hsl(0, 0%, 0%); /*with 75% opacity for lightbox background*/
}

*{
	box-sizing: border-box;
 }

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
    padding: 0px 140px;
}

/* Aqui começam as configurações do HEADER*/

.container__header, .container__nav, .container__perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li{
    display: inline;
    color: var(--azul-acinzentado-escuro);
    padding: 0px 10px;
}

nav li a{
    padding: 35px 0px;
}

nav li a:hover{
    color: var(--preto);
    cursor: pointer;
    border-bottom: 4px solid var(--laranja-principal);
    font-weight: bold;
}

.container__header{
    justify-content: space-between;
    gap: 20px;
    border-bottom: 2px solid var(--azul-acinzentado);
    padding: 25px 0px;
}

.img__avatar{
    width: 45px;
    height: 45px;
    
}

.img__avatar:hover{
    border: 2px solid var(--laranja-principal);
    border-radius: 50%;
    
}

.img__logo{
    padding-right: 50px;
}

.img__cart-perfil{
    position: absolute;
    right: 250px;
    top: 40px;
}

/*Aqui acabam as configurações do HEADER*/

/*Aqui começam as configurações da seção de imagens*/
.container__principal{
    display: grid;
    grid-template-columns: 50% 50%;
}

.img__produto-grande{
    width: 350px;
    height: 350px;
    border-radius: 5%;
}

.img__produto-pequeno{
    width: 70px;
    height: 70px;
    border-radius: 10%; 
}

.img__produto-pequeno:hover{
    border: 2px solid var(--laranja-principal);
    border-radius: 10%;
    cursor: pointer;
    z-index: 1;
    opacity: 50%;
}

.container__imagens{
    display: grid;
    grid-template-rows: auto 1fr;
    padding-top: 40px;
    justify-content: center;

}

.container__imagens-pequenas{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    justify-content: space-between;
}

/*Aqui acabam as configurações da seção de imagens*/

.container__conteudo{
    padding: 80px 100px 50px 0px;
}

.marca{
    color: var(--laranja-principal);
    font-weight: bold;
    padding-bottom: 1em;
}

.titulo{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 1em;
}

.descricao{
    color: var(--azul-acinzentado-escuro);
    padding-bottom: 1.8em;
    line-height: 1.5em;
}

.preco-atual{
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    padding-right: 10px;
}

.desconto{
    display: inline-block;
    color: var(--laranja-principal);
    background-color: var(--laranja-secundario);
    font-size: 14px;
    font-weight: 700;
    padding: 5px 7px;
    border-radius: 20%;
    vertical-align:top;
}

.preco-anterior{
    color: var(--azul-acinzentado);
    padding-top: 0.7em;
    font-size: 14px;
    font-weight: 700;
    text-decoration: line-through;
    padding-bottom: 2em;
}

.contador__botao{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}


.checkout__produto{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--azul-acinzentado-claro);
    border-radius: 10px;
}

.botao-aumenta-diminui{
    padding: 12px 25px;
    
}


.botao-aumenta-diminui:hover{
    cursor: pointer;
}

.quantidade{
    font-size: 14px;
    font-weight: 700;
}

.botao-add {
    background-color: var(--laranja-principal);
    padding: 12px 70px;
    border-radius: 10px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    color: var(--branco);
    cursor: pointer;
    margin-right: 2em;
    
}

